@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import 'https://fonts.googleapis.com/css?family=Ropa+Sans';
body {
	margin: 0;
	padding: 0;
}

.navbar {
	width: 50%;
	height: 50px;
	background-color: #3366cc;
	margin: 0 auto;
	padding-left: 0;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	box-shadow: 7px 13px 37px -8px rgba(0,0,0,0.9);
	opacity: .85;

}

.navbar li {
	list-style-type: none;
	display: inline;
	
	
}

.navbar a {
	width: 20%;
	text-align: center;
	display: inline-block;
	transition: all .2s;
	color: #d9d9d9;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;

	}

.right1, .right2 {
	float: right;
	font-size: 20px;
	height: 50px;
	line-height: 50px;
	opacity: .85;
}

.left1, .left2 {
	float: left;
	font-size: 20px;
	height: 50px;
	line-height: 50px;

}

.center {
	margin: 0 auto;
	font-size: 25px;
	height: 60px;
	background-color: black;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	line-height: 55px;
}

.right1 {
	border-bottom-right-radius: 15px;
}
.left1 {
	border-bottom-left-radius: 15px;
}

a:hover {
	background-color: #003366;
	color: white;
	
}

.top-of-page {
	width: 100%;
	height: 700px;
	background-image: url(images/homepage1.jpg);
	margin: 0 auto;
}

hr {
	margin: 0;
}

.title {
	margin: 70px auto 0px auto;
	height: 500px;
	width: 500px;
	background-color: rgba(242, 242, 242, .9);
	border-radius: 50%;
	border: 1px solid silver;
	border-style: inset;
}

.title-header {
	font-family: 'Ropa Sans', sans-serif;
	font-size: 60px;
	margin-bottom: 5px;
}

.thing1 {
	margin-top: 30%;
}

#content-wrapper {
background: #f7f7f7 url("images/bg04.png");
border-top: solid 1px #fff;
padding: 45px 0 45px 0;
}
			
#content section {
background: #fff;
padding: 40px 30px 45px 30px;
box-shadow: 2px 2px 2px 1px rgba(128, 128, 128, 0.1);
margin: 0 0 10% 0;
}
			
#content h2 {
font-size: 1.8em;
color: #373f42;
margin: 0 0 0.25em 0;
}

#content h3 {
color: #96a9b5;
font-size: 1.25em;
}

.container {
margin-left: auto;
margin-right: auto;
}

.row {
border-bottom: solid 1px transparent;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}