@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import 'https://fonts.googleapis.com/css?family=Ropa+Sans';
body {
	margin: 0;
	padding: 0;
}

.navbar {
	width: 90%;
	height: 50px;
	background-color: #3366cc;
	margin: 0 auto;
	padding-left: 0;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	box-shadow: 7px 13px 37px -8px rgba(0,0,0,0.9);
	opacity: .85;

}

.navbar li {
	list-style-type: none;
	display: inline;
	
	
}

.navbar a {
	width: 20%;
	text-align: center;
	display: inline-block;
	transition: all .2s;
	color: #d9d9d9;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;

	}

.right1, .right2 {
	float: right;
	font-size: 20px;
	height: 50px;
	line-height: 50px;
	opacity: .85;
}

.left1, .left2 {
	float: left;
	font-size: 20px;
	height: 50px;
	line-height: 50px;

}

.center {
	margin: 0 auto;
	font-size: 25px;
	height: 60px;
	background-color: black;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	line-height: 55px;
}

.right1 {
	border-bottom-right-radius: 15px;
}
.left1 {
	border-bottom-left-radius: 15px;
}

a:hover {
	background-color: #003366;
	color: white;
	
}

.top-of-page {
	width: 100%;
	height: 700px;
	background-image: url(images/homepage1.jpg);
	margin: 0 auto;
}

hr {
	margin: 0;
}

.title {
	margin: 70px auto 0px auto;
	height: 500px;
	width: 500px;
	background-color: rgba(242, 242, 242, .9);
	border-radius: 50%;
	border: 1px solid silver;
	border-style: inset;
}

.title-header {
	font-family: 'Ropa Sans', sans-serif;
	font-size: 60px;
	margin-bottom: 5px;
}

.thing1 {
	margin-top: 30%;
}

.top-of-page2 {
	 background-image:
    linear-gradient(
      to right, 
      #93abf2, #4970e5
    );
    height: 70px;
}

.index-staff {
	width: 1162px;
	margin: 0 auto;
	height: 100vh;
	border-right: 1px solid silver;
	border-left: 1px solid silver;
}

.row-right {
	width: 50%;
	height: 100vh;
	float: left;
}

.row-right2 {
	width: 50%;
	height: 100vh;
	float: left;
}

.row-left {
	width: 50%;
	height: 100vh;
	float: right;
}

.element {
	width: 100%;
	height: 300px;
}

.element img {
	margin: 0 auto;
	margin-top: 20.5px;
}

.element h3 {
	width: 100px;
	padding-left: 55px;
}

/*The following code is a test to move over and clean up all the other code from the other CSS files. */

#staff {
    width: 940px;
  margin: 0 auto;
  padding: 5px;
  background: rgb(0, 153, 255);
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
  min-height: 100vh;
  box-shadow: 0px 20px 283px -9px rgba(0,0,0,0.55);
}
#staff li {
    display: inline-block;
    width:19%;
    vertical-align:middle;
    box-sizing:border-box;
	padding: 5px;
	position: relative;
}

.center-staff .staff-img {
	margin-top: 0;
	padding-top: 20.5px;
}
        
.staff-cell {
    display:block;
    position: relative;
    overflow:hidden;
}
     
.staff-img {
    display: block;
    border:none;
    height: 250px;
    width: 170.7317073170732px;
}

        
.staff-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #3DC0F1;
    background-size:50px 50px;
    opacity:0;
    transition:all 0.6s;
}
#staff li:hover .staff-overlay {
    opacity:0.8;
	border-radius: 10px;
}

.staff-text {
    display:block;
    box-sizing:border-box;
    position:absolute;
    width:100%;
    text-align:center;
    font-size:18px;
    font-weight:bold;
    font-family: 'Oswald', sans-serif;
    font-weight:normal!important;
    top:40%;
    color:white;
    opacity:0;
}
#staff li:hover .staff-text {
    transform:translateY(0px);
    opacity:0.9;
	
}

#player {
    width: 940px;
  margin: 0 auto;
  padding: 5px;
  background: #0066cc;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
  min-height: 100vh;
  box-shadow: 0px 20px 283px -9px rgba(0,0,0,0.55);
}
#player li {
    display: inline-block;
    width:19%;
    vertical-align:middle;
    box-sizing:border-box;
	padding: 5px;
	position: relative;
}
        
.player-cell {
    display:block;
    position: relative;
    overflow:hidden;
}
     
.player-img {
    display: block;
    width: 100%;
    height: 150px;
    border:none;
	border-radius: 10px;
}

        
.player-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #3DC0F1;
    background-size:50px 50px;
    opacity:0;
    transition:all 0.6s;
}
#player li:hover .player-overlay {
    opacity:0.8;
	border-radius: 10px;
}

.player-text {
    display:block;
    box-sizing:border-box;
    position:absolute;
    width:100%;
    text-align:center;
    font-size:18px;
    font-weight:bold;
    font-family: 'Oswald', sans-serif;
    font-weight:normal!important;
    top:40%;
    color:white;
    opacity:0;
}
#player li:hover .player-text {
    transform:translateY(0px);
    opacity:0.9;
	
}

.footer{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	
	padding: 45px 50px;
	margin-top: 80px;
}

.footer .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

.footer p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}


@media (max-width: 600px) {

	.footer .footer-left,
	.footer .footer-right{
		text-align: center;
	}

	.footer.footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer .footer-left p.footer-links{
		line-height: 1.8;
	}
}

/* Staff Overhaul */

.staff-content {
	height: 100%;
	min-height: 100vh;
	background-color: black;
	width: 960px;
	margin: 0 auto;
	background: #006bb3;
}

.staff-row {
	width: 100%;
	height: 100%;
}

.element {
	width: 33%;
	height: 300px;
	position: relative;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center-staff {
	margin: 0 auto;
}

/* sponsors overhaul */

.index-content {
	width: 960px;
	height: 100%;
	min-height: 100vh;
	background-color: lightgrey;
	margin: 0 auto;
}
