@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200");

	html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, u, center, ol, ul, li, header, menu, nav, section {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	.container {
		margin-left: auto;
		margin-right: auto;
	}

	.container {
		width: 960px;
	}

	@media screen and (min-width: 737px) {

		.container {
			width: 1200px;
		}

	}

	@media screen and (min-width: 737px) and (max-width: 1200px) {


		.container {
			width: 1000px;
		}

	}


/* Grid */

	.row {
		border-bottom: solid 1px transparent;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row > * {
		float: left;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row:after, .row:before {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.\31 2u, .\31 2u\24 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}

	.\31 1u, .\31 1u\24 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\36 u, .\36 u\24 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}

	.\33 u, .\33 u\24 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}




	@media screen and (min-width: 737px) {

		.row > * {
			padding: 25px 0 0 25px;
		}

		.row {
			margin: -25px 0 -1px -25px;
		}
}


/* Basic */

	body {
		background: #D4D9DD url("images/bg03.jpg");
		color: #474f51;
		font-size: 13.5pt;
		font-family: 'Yanone Kaffeesatz';
		line-height: 1.85em;
		font-weight: 300;
	}

	input, textarea, select {
		color: #474f51;
		font-size: 13.5pt;
		font-family: 'Yanone Kaffeesatz';
		line-height: 1.85em;
		font-weight: 300;
	}

	ul, ol, p, dl {
		margin: 0 0 2em 0;
	}

	a {
		text-decoration: underline;
	}

		a:hover {
			text-decoration: none;
		}

	section > :last-child,
	.last-child {
		margin-bottom: 0 !important;
	}


	.feature-image {
		display: block;
		margin: 0 0 2em 0;
		outline: 0;
	}

		.feature-image img {
			display: block;
			width: 100%;
		}

	.bordered-feature-image {
		display: block;
		background: #fff url("images/bg04.png");
		padding: 10px;
		box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
		margin: 0 0 1.5em 0;
		outline: 0;
	}

		.bordered-feature-image img {
			display: block;
			width: 100%;
		}


/* Desktop */

	@media screen and (min-width: 737px) {

		/* Basic */

			body {
				min-width: 1200px;
			}

			section:last-child {
				margin-bottom: 0 !important;
			}

		/* Wrappers */

			#header-wrapper {
				background: #3B4346 url("images/bg01.jpg");
				border-bottom: solid 1px #272d30;
				box-shadow: inset 0px -1px 0px 0px #51575a;
				text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75);
			}

			.subpage #header-wrapper {
				height: 155px;
			}

			#features-wrapper {
				background: #353D40 url("images/bg02.jpg");
				border-bottom: solid 1px #272e31;
				padding: 45px 0 45px 0;
				text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75);
			}

			#content-wrapper {
				background: #f7f7f7 url("images/bg04.png");
				border-top: solid 1px #fff;
				padding: 45px 0 45px 0;
			}

			#footer-wrapper {
				padding: 45px 0 45px 0;
				text-shadow: 1px 1px 1px white;
			}

		/* Header */

			#header {
				min-height: 155px;
				position: relative;
			}

				#header h1 {
					position: absolute;
					left: 0;
					bottom: 35px;
					font-size: 2.75em;
				}

					#header h1 a {
						color: #fff;
						text-decoration: none;
					}

				#header nav {
					position: absolute;
					right: 0;
					bottom: 35px;
					font-weight: 200;
				}

					#header nav a {
						color: #c6c8c8;
						text-decoration: none;
						font-size: 1.4em;
						margin-left: 60px;
						outline: 0;
					}

						#header nav a:hover {
							color: #f6f8f8;
						}

		/* Banner */

			#banner {
				border-top: solid 1px #222628;
				box-shadow: inset 0px 1px 0px 0px #3e484a;
				padding: 35px 0 35px 0;
				color: #fff;
			}

				#banner .bordered-feature-image {
					margin-bottom: 0;
				}

				#banner p {
					font-size: 2em;
					font-weight: 200;
					line-height: 1.25em;
					padding-right: 1em;
					margin: 0 0 1em 0;
				}

		/* Features */

			#features {
				color: #a0a8ab;
			}

				#features h2 {
					font-size: 1.25em;
					color: #fff;
					margin: 0 0 0.25em 0;
				}

				#features a {
					color: #e0e8eb;
				}

				#features strong {
					color: #fff;
				}

		/* Content */

			#content section {
				background: #fff;
				padding: 40px 30px 45px 30px;
				box-shadow: 2px 2px 2px 1px rgba(128, 128, 128, 0.1);
				margin: 0 0 10% 0;
			}

			#content h2 {
				font-size: 1.8em;
				color: #373f42;
				margin: 0 0 0.25em 0;
			}

			#content h3 {
				color: #96a9b5;
				font-size: 1.25em;
			}

			#content a {
				color: #ED391B;
			}

			#content header {
				margin: 0 0 2em 0;
			}

	}